- let usedIndexes = [] 
mixin show(a, b, c)
      .block
        .heading
          .content-heading
            h1 Phim #{b}
          .heading-search
            ul.oder-list
              li
                select.theloai(name='cat' id='')
                  option.cat(value='') Thể loại
                  option(value='1') H&agrave;nh Động
                  option(value='2') Hài Hước
                  option(value='3') Tình Cảm
                  option(value='4') Khoa Học
                  option(value='5') Kinh Dị
                  option(value='6') Tâm Lý
                  option(value='7') Viễn Tưởng
              li
                select.quocgia(name='cat' id='')
                  option.cat(value='') Quốc gia
                  option(value='1') Trung Qu&#x1ED1;c
                  option(value='2') H&agrave;n Qu&#x1ED1;c
                  option(value='3') Nh&#x1EAD;t B&#x1EA3;n
                  option(value='4') &Acirc;u M&#x1EF9;
                  option(value='5') Th&aacute;i Lan
                  option(value='6') T&#x1ED5;ng h&#x1EE3;p
                  option(value='7') &#x1EA4;n &Dstrok;&#x1ED9;
              li
                select.namphathanh(name='cat' id='')
                  option.cat(value='') Năm phát hành
                  option(value='1') 2025
                  option(value='2') 2024
                  option(value='3') 2023
                  option(value='4') 2022
                  option(value='5') 2021
                  option(value='6') 2020
                  option(value='7') 2019
              li
                select.hinhthuc(name='cat' id='')
                  option.cat(value='') Hình thức
                  option(value='1') Phim l&#x1EBB;
                  option(value='2') Phim b&#x1ED9;
              li
                select.ngonngu(name='cat' id='')
                  option.cat(value='') Ngôn ngữ
                  option(value='1') Thuy&#x1EBF;t Minh
                  option(value='2') Vietsub
                  option(value='3') Phụ Đề
              li
                button.btn-search(type='button') T&igrave;m ki&#x1EBF;m
        .text
          .block-text
            ul
              li
                i.ti-home
                | Phim Moi 
                i.ti-angle-right
              li Phim #{b}
        .content-search
          h1 Danh s&aacute;ch &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c l&#x1ECD;c
        .section2
          ul.list-film
            - if (a.length == 0 )
              li(class='special') 
                p(style='display: inline-block') Không tìm thấy phim nào
                span(style='color: red')   o(╥﹏╥)o 
                p Vui lòng kiểm tra lại từ khóa tìm kiếm của bạn.
                p Bạn có thể tìm bằng tên tiếng anh hoặc từ khóa không dấu.
                p Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi (≧▽≦)
            - for (var i = 0; i < a.length; i++) 
              - var randomIndex
              - do {
                - randomIndex = Math.floor(Math.random() * a.length) // Generate a random number
              - } while (usedIndexes.includes(randomIndex)) // Repeat if the number already exists
              - usedIndexes.push(randomIndex)
              li.list-small
                img(src=`https://phimimg.com/${a[i].poster_url}` alt=`${a[i].name}`)
                span.title #{a[i].lang} - #{a[i].quality}
                span.film-name #{a[i].name}
                .icon-pause
                  span.ti-control-play
                a.link-film(href='/watch/' + a[i].slug title=`${a[i].name}`)
            .clear
        #pagination.pagination