 extends ../../layout/default.pug

block header
  include ../../partials/header
  link(rel="stylesheet", href="../../../../css/style.css")
  link(rel="stylesheet", href="../../../../Icon/themify-icons/themify-icons.css")
  - const {PhimLe, PhimBo} = require('../../../../models/products.model.js');
  -const { connectdtb } = require("../../config/database.js");
  -connectdtb();
  #intro
      .about-intro
        .intro-content
          img(src='../../../../imgage/NOTFLIX-Fan-Edits-txt-transp-BLUE-light-baja.png', alt='')
        .intro-start
          a Watch Movie Free
  #main-content
      .content
        .container
          .section1
            .section1-heading
              h2 Phim &dstrok;&#x1EC1; c&#x1EED;
            .section1-film
              .icon-next
                span#icon-next1.ti-control-play
              if products
                each item in products
                  .section1-film-container
                    .film-container
                      a.link-film(href='#')
                      img(src= item.poster_url , alt='')
                      span.title #{item.episode_current}
                      span.film-name #{item.name}
                      .icon-pause
                        span.ti-control-play
          .section2(block='first')
            .section2-heading
              h2 PHIM LẺ MỚI CẬP NHẬT
              ul.section2-subheading
                li
                  a(href='#', data-carotype='hanhdong') Hành động
                li
                  a(href='#', data-carotype='hinhsu') Hinh Sự
                li
                  a(href='#', data-carotype='kinhdi') Kinh dị
                li
                  a(href='#', data-carotype='haihuoc') Hài hước
            ul.list-film(data-id='1')
              li.list-large
                - var  x  = Math.floor(Math.random() * 60) + 1 
                - var usedIndexes = [x]
                  img(src=`https://phimimg.com/${phimle[x].poster_url}`, alt='')
                  span.title #{phimle[x].quality} - #{phimle[x].lang}
                  span.film-name #{phimle[x].name}
                  .icon-pause
                    span.ti-control-play
                  a.link-film(href='#')
                - for (var i = 0; i < 11; i++) 
                  - var randomIndex
                  - do {
                    - randomIndex = Math.floor(Math.random() * 60) + 1 // Tạo số ngẫu nhiên
                  - } while (usedIndexes.includes(randomIndex)) // Lặp lại nếu số này đã có
                  - usedIndexes.push(randomIndex) // Lưu lại số đã dùng để tránh trùng
                  li.list-small
                    img(src= `https://phimimg.com/${phimle[randomIndex].poster_url}`, alt='')
                    span.title #{phimle[randomIndex].quality} - #{phimle[randomIndex].lang}
                    span.film-name #{phimle[randomIndex].name}
                    .icon-pause
                      span.ti-control-play
                    a.link-film(href='#')

            #loader.loader
            ul.list-film(data-id="2" style="display: none;")
              li.list-large
                - var  x  = Math.floor(Math.random() * 60) + 1 
                - var usedIndexes = [x]
                  img(src=`https://phimimg.com/${categories.hanhdong[x].poster_url}`, alt='')
                  span.title #{categories.hanhdong[x].quality} - #{categories.hanhdong[x].lang}
                  span.film-name #{categories.hanhdong[x].name}
                  .icon-pause
                    span.ti-control-play
                  a.link-film(href='#')
                - for (var i = 0; i < 11; i++) 
                  - var randomIndex
                  - do {
                    - randomIndex = Math.floor(Math.random() * 60) + 1 // Tạo số ngẫu nhiên
                  - } while (usedIndexes.includes(randomIndex)) // Lặp lại nếu số này đã có
                  - usedIndexes.push(randomIndex) // Lưu lại số đã dùng để tránh trùng
                  li.list-small
                    img(src= `https://phimimg.com/${categories.hanhdong[randomIndex].poster_url}`, alt='')
                    span.title #{categories.hanhdong[randomIndex].quality} - #{categories.hanhdong[randomIndex].lang}
                    span.film-name #{categories.hanhdong[randomIndex].name}
                    .icon-pause
                      span.ti-control-play
                    a.link-film(href='#')
                        ul.list-film(data-id="2" style="display: none;")

            ul.list-film(data-id="3" style="display: none;")          
              li.list-large
                - var  x  = Math.floor(Math.random() * 60) + 1 
                - var usedIndexes = [x]
                  img(src=`https://phimimg.com/${categories.hinhsu[x].poster_url}`, alt='')
                  span.title #{categories.hinhsu[x].quality} - #{categories.hinhsu[x].lang}
                  span.film-name #{categories.hinhsu[x].name}
                  .icon-pause
                    span.ti-control-play
                  a.link-film(href='#')
                - for (var i = 0; i < 11; i++) 
                  - var randomIndex
                  - do {
                    - randomIndex = Math.floor(Math.random() * 60) + 1 // Tạo số ngẫu nhiên
                  - } while (usedIndexes.includes(randomIndex)) // Lặp lại nếu số này đã có
                  - usedIndexes.push(randomIndex) // Lưu lại số đã dùng để tránh trùng
                  li.list-small
                    img(src= `https://phimimg.com/${categories.hinhsu[randomIndex].poster_url}`, alt='')
                    span.title #{categories.hinhsu[randomIndex].quality} - #{categories.hinhsu[randomIndex].lang}
                    span.film-name #{categories.hinhsu[randomIndex].name}
                    .icon-pause
                      span.ti-control-play
                    a.link-film(href='#')

            ul.list-film(data-id="4" style="display: none;")          
              li.list-large
                - var  x  = Math.floor(Math.random() * 60) + 1 
                - var usedIndexes = [x]
                  img(src=`https://phimimg.com/${categories.kinhdi[x].poster_url}`, alt='')
                  span.title #{categories.kinhdi[x].quality} - #{categories.kinhdi[x].lang}
                  span.film-name #{categories.kinhdi[x].name}
                  .icon-pause
                    span.ti-control-play
                  a.link-film(href='#')
                - for (var i = 0; i < 11; i++) 
                  - var randomIndex
                  - do {
                    - randomIndex = Math.floor(Math.random() * 60) + 1 // Tạo số ngẫu nhiên
                  - } while (usedIndexes.includes(randomIndex)) // Lặp lại nếu số này đã có
                  - usedIndexes.push(randomIndex) // Lưu lại số đã dùng để tránh trùng
                  li.list-small
                    img(src= `https://phimimg.com/${categories.kinhdi[randomIndex].poster_url}`, alt='')
                    span.title #{categories.kinhdi[randomIndex].quality} - #{categories.kinhdi[randomIndex].lang}
                    span.film-name #{categories.kinhdi[randomIndex].name}
                    .icon-pause
                      span.ti-control-play
                    a.link-film(href='#')

            ul.list-film(data-id="5" style="display: none;")          
              li.list-large
                - var  x  = Math.floor(Math.random() * 60) + 1 
                - var usedIndexes = [x]
                  img(src=`https://phimimg.com/${categories.haihuoc[x].poster_url}`, alt='')
                  span.title #{categories.haihuoc[x].quality} - #{categories.haihuoc[x].lang}
                  span.film-name #{categories.haihuoc[x].name}
                  .icon-pause
                    span.ti-control-play
                  a.link-film(href='#')
                - for (var i = 0; i < 11; i++) 
                  - var randomIndex
                  - do {
                    - randomIndex = Math.floor(Math.random() * 60) + 1 // Tạo số ngẫu nhiên
                  - } while (usedIndexes.includes(randomIndex)) // Lặp lại nếu số này đã có
                  - usedIndexes.push(randomIndex) // Lưu lại số đã dùng để tránh trùng
                  li.list-small
                    img(src= `https://phimimg.com/${categories.haihuoc[randomIndex].poster_url}`, alt='')
                    span.title #{categories.haihuoc[randomIndex].quality} - #{categories.haihuoc[randomIndex].lang}
                    span.film-name #{categories.haihuoc[randomIndex].name}
                    .icon-pause
                      span.ti-control-play
                    a.link-film(href='#')

          .section2(block='two')
            .section2-heading
              h2 PHIM CHI&#x1EBE;U R&#x1EA0;P
              ul.section2-subheading
                li
                  a(href='#' data-year='2024') 2024
                li
                  a(href='#' data-year='2023') 2023
                li
                  a(href='#' data-year='2022') 2022
                li
                  a(href='#' data-year='2021') 2021
            ul.list-film(data-id="1")
              - var y;
              - do {
                - y = Math.floor(Math.random() * 60) + 1;
              - } while(usedIndexes.includes(y))
              - usedIndexes.push(y);
                li.list-large
                  img(src=`https://phimimg.com/${phimle[y].poster_url}`, alt='')
                  span.title  #{phimle[y].quality} - #{phimle[y].lang}
                  span.film-name #{phimle[y].name}
                  .icon-pause
                    span.ti-control-play
                  a.link-film(href='#')
                -for(var  i = 0; i < 11; i ++)
                  - var z;
                  - do {
                    - z = Math.floor(Math.random() * 60) + 1;
                  - } while (usedIndexes.includes(z));
                  - usedIndexes.push(z);
                  li.list-small
                    img(src=`https://phimimg.com/${phimle[z].poster_url}`, alt='')
                    span.title  #{phimle[z].quality} - #{phimle[z].lang}
                    span.film-name #{phimle[z].name}
                    .icon-pause
                      span.ti-control-play
                    a.link-film(href='#')
            #loader.loader
            ul.list-film(data-id="2" style="display: none;")
              - var y;
              - do {
                - y = Math.floor(Math.random() * 60) + 1;
              - } while(usedIndexes.includes(y))
              - usedIndexes.push(y);
                li.list-large
                  img(src=`https://phimimg.com/${years.year2024[y].poster_url}`, alt='')
                  span.title  #{years.year2024[y].quality} - #{years.year2024[y].lang}
                  span.film-name #{years.year2024[y].name}
                  .icon-pause
                    span.ti-control-play
                  a.link-film(href='#')
                -for(var  i = 0; i < 11; i ++)
                  - var z;
                  - do {
                    - z = Math.floor(Math.random() * 60) + 1;
                  - } while (usedIndexes.includes(z));
                  - usedIndexes.push(z);
                  li.list-small
                    img(src=`https://phimimg.com/${years.year2024[z].poster_url}`, alt='')
                    span.title  #{years.year2024[z].quality} - #{years.year2024[z].lang}
                    span.film-name #{years.year2024[z].name}
                    .icon-pause
                      span.ti-control-play
                    a.link-film(href='#')
            
            //- ul.list-film(data-id="3" style="display: none;")
            //-   - var y;
            //-   - do {
            //-     - y = Math.floor(Math.random() * 60) + 1;
            //-   - } while(usedIndexes.includes(y))
            //-   - usedIndexes.push(y);
            //-     li.list-large
            //-       img(src=`https://phimimg.com/${years.year2023[y].poster_url}`, alt='')
            //-       span.title  #{years.year2023[y].quality} - #{years.year2023[y].lang}
            //-       span.film-name #{years.year2023[y].name}
            //-       .icon-pause
            //-         span.ti-control-play
            //-       a.link-film(href='#')
            //-     -for(var  i = 0; i < 11; i ++)
            //-       - var z;
            //-       - do {
            //-         - z = Math.floor(Math.random() * 60) + 1;
            //-       - } while (usedIndexes.includes(z));
            //-       - usedIndexes.push(z);
            //-       li.list-small
            //-         img(src=`https://phimimg.com/${years.year2023[y].poster_url}`, alt='')
            //-         span.title  #{years.year2023[z].quality} - #{years.year2023[z].lang}
            //-         span.film-name #{years.year2023[z].name}
            //-         .icon-pause
            //-           span.ti-control-play
            //-         a.link-film(href='#')
            
            //- ul.list-film(data-id="4" style="display: none;")
            //-   - var y;
            //-   - do {
            //-     - y = Math.floor(Math.random() * 60) + 1;
            //-   - } while(usedIndexes.includes(y))
            //-   - usedIndexes.push(y);
            //-     li.list-large
            //-       img(src=`https://phimimg.com/${years.year2022[y].poster_url}`, alt='')
            //-       span.title  #{years.year2022[y].quality} - #{years.year2022[y].lang}
            //-       span.film-name #{years.year2022[y].name}
            //-       .icon-pause
            //-         span.ti-control-play
            //-       a.link-film(href='#')
            //-     -for(var  i = 0; i < 11; i ++)
            //-       - var z;
            //-       - do {
            //-         - z = Math.floor(Math.random() * 60) + 1;
            //-       - } while (usedIndexes.includes(z));
            //-       - usedIndexes.push(z);
            //-       li.list-small
            //-         img(src=``, alt='')
            //-         span.title  #{years.year2022[z].quality} - #{years.year2022[z].lang}
            //-         span.film-name #{years.year2022[z].name}
            //-         .icon-pause
            //-           span.ti-control-play
            //-         a.link-film(href='#')
            
            //- ul.list-film(data-id="5" style="display: none;")
            //-   - var y;
            //-   - do {
            //-     - y = Math.floor(Math.random() * 60) + 1;
            //-   - } while(usedIndexes.includes(y))
            //-   - usedIndexes.push(y);
            //-     li.list-large
            //-       img(src=`https://phimimg.com/${years.year2021[y].poster_url}`, alt='')
            //-       span.title  #{years.year2021[y].quality} - #{years.year2021[y].lang}
            //-       span.film-name #{years.year2021[y].name}
            //-       .icon-pause
            //-         span.ti-control-play
            //-       a.link-film(href='#')
            //-     -for(var  i = 0; i < 11; i ++)
            //-       - var z;
            //-       - do {
            //-         - z = Math.floor(Math.random() * 60) + 1;
            //-       - } while (usedIndexes.includes(z));
            //-       - usedIndexes.push(z);
            //-       li.list-small
            //-         img(src=`https://phimimg.com/${years.year2021[z].poster_url}`, alt='')
            //-         span.title  #{years.year2021[z].quality} - #{years.year2021[z].lang}
            //-         span.film-name #{years.year2021[z].name}
            //-         .icon-pause
            //-           span.ti-control-play
            //-         a.link-film(href='#')
        
            
          //- .section2
          //-   .section2-heading
          //-     h2 PHIM B&#x1ED8; M&#x1EDA;I C&#x1EAC;P NH&#x1EAC;T
          //-     ul.section2-subheading
          //-       li
          //-         a(href='#') H&Agrave;N QU&#x1ED0;C
          //-       li
          //-         a(href='#') TRUNG QU&#x1ED0;C
          //-       li
          //-         a(href='#') &Acirc;U-M&Itilde;
          //-       li
          //-         a(href='#') PHIM B&#x1ED8; FULL
          //-   ul.list-film
          //-     li.list-large
          //-       - var  a = Math.floor(Math.random() * 60) + 1;
          //-       - var  arrPhimBo = [x]
          //-         img(src= `https://phimimg.com/${phimbo[a].poster_url}`, alt='')
          //-         span.title #{phimbo[a].quality} - #{phimbo[a].lang}
          //-         span.film-name #{phimbo[a].name}
          //-         .icon-pause
          //-           span.ti-control-play
          //-         a.link-film(href='#')
          //-       - for(var  i = 0; i < 11; i ++)
          //-         - var  RandomBo
          //-         - do {
          //-           - RandomBo  = Math.floor(Math.random() * 60 ) + 1;
          //-         - } while (arrPhimBo.includes(RandomBo))
          //-         - arrPhimBo.push(RandomBo);
          //-         li.list-small
          //-           img(src=`https://phimimg.com/${phimbo[RandomBo].poster_url}`, alt='')
          //-           span.title #{phimbo[RandomBo].quality} - #{phimbo[RandomBo].lang}
          //-           span.film-name #{phimbo[RandomBo].name}
          //-           .icon-pause
          //-             span.ti-control-play
          //-           a.link-film(href='#')
          //- .section2
          //-   .section2-heading
          //-     h2 PHIM M&#x1EDA;I C&#x1EAC;P NH&#x1EAC;T
          //-     ul.section2-subheading
          //-       li
          //-         a(href='#') H&agrave;nh &dstrok;&#x1ED9;ng
          //-       li
          //-         a(href='#') Ho&#x1EA1;t h&igrave;nh
          //-       li
          //-         a(href='#') Kinh d&#x1ECB;
          //-       li
          //-         a(href='#') H&agrave;i h&#x1B0;&#x1EDB;c
          //-   ul.list-film
          //-     li.list-large
          //-       img(src= FilmNew[0].poster_url , alt='')
          //-       span.title #{FilmNew[0].quality} - #{FilmNew[1].lang}
          //-       span.film-name #{FilmNew[0].name}
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     - for(var  i = 1; i < 12; i ++)
          //-       li.list-small
          //-         img(src= FilmNew[i].poster_url , alt='')
          //-         span.title #{FilmNew[i].quality} - #{FilmNew[i].lang}
          //-         span.film-name #{FilmNew[i].name}
          //-         .icon-pause
          //-           span.ti-control-play
          //-         a.link-film(href='#')
          //- .section2(style='height: 350px')
          //-   .section2-heading
          //-     h2 PHIM M&#x1EDA;I S&#x1EAE;P CHI&#x1EBE;U
          //-     ul.section2-subheading(style='display: none')
          //-       li
          //-         a(href='#') Phim l&#x1EBB; th&#x1ECB;nh h&agrave;nh
          //-       li
          //-         a(href='#') Ho&#x1EA1;t b&#x1ED9; th&#x1ECB;nh h&agrave;nh
          //-   ul.list-film
          //-     li.list-large
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small(style='height: calc(136.5px - 13px)')
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small(style='height: calc(136.5px - 13px)')
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small(style='height: calc(136.5px - 13px)')
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small(style='height: 136.5px')
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small(style='height: 136.5px')
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small(style='height: 136.5px')
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     .clear
          //- .section2
          //-   .section2-heading
          //-     h2 PHIM TH&#x1ECA;NH H&Agrave;NH
          //-     ul.section2-subheading
          //-       li
          //-         a(href='#') Phim l&#x1EBB; th&#x1ECB;nh h&agrave;nh
          //-       li
          //-         a(href='#') Ho&#x1EA1;t b&#x1ED9; th&#x1ECB;nh h&agrave;nh
          //-   ul.list-film
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     li.list-small
          //-       img(src='./Component/image/images.png', alt='')
          //-       span.title Ho&agrave;n t&#x1EA5;t (8/8)
          //-       span.film-name AnieMez
          //-       .icon-pause
          //-         span.ti-control-play
          //-       a.link-film(href='#')
          //-     .clear
               

script.
  const products = document.querySelectorAll(".section1-film-container");
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("active");
        } else {
          entry.target.classList.remove("active");
        }
      });
    },
    {
      root: document.querySelector(".section1-film"),
      rootMargin: "0px",
      threshold: 0.6,
    }
  );

  products.forEach((product) => {
    observer.observe(product);
  });

script(src="../../../../js/script.products.js") 